PORT=5000
NODE_ENV=development
MONGODB_URI= enter url here  
JWT_SECRET=creatokite_super_secret_jwt_key_change_in_prod_2025
JWT_REFRESH_SECRET=creatokite_refresh_secret_key_change_in_prod_2025
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@creatokite.com
ADMIN_PASSWORD=Admin@12345
