PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://creaotokite123_db_user:Ercv6UnK0bS2KoDZ@ac-vqa5gye-shard-00-00.1bh8mvg.mongodb.net:27017,ac-vqa5gye-shard-00-01.1bh8mvg.mongodb.net:27017,ac-vqa5gye-shard-00-02.1bh8mvg.mongodb.net:27017/notuapp?ssl=true&replicaSet=atlas-kd6ff9-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=creatokite_super_secret_jwt_key_change_in_prod_2025
JWT_REFRESH_SECRET=creatokite_refresh_secret_key_change_in_prod_2025
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@creatokite.com
ADMIN_PASSWORD=Admin@12345
